__pycache__/
*.py[cod]
.DS_Store

.env
.env.*
!.env.example

.venv/
venv/

outputs/*
!outputs/diagrams/
outputs/diagrams/*
!outputs/diagrams/.gitkeep
!outputs/image_diagrams/
outputs/image_diagrams/*
!outputs/image_diagrams/.gitkeep
work/*
!work/.gitkeep
